{% extends "index.html" %}
{% load staticfiles %}
{%block pesquisa%}
{%endblock%}
{%block centro%}
  {%if nao_permitido%}
  <div class="container">
    <div class="row">
      <span class="label-warning">Usuario nao autorizado</span>
    </div>
  </div>
  {%endif%}
  <div class="container lead">
    <div class="row">
        <h3><ins>CONTATO</ins></h3>
    </div>
  </div> 
  <form class="form-horizontal" method="post">
    {%csrf_token%}
    <div class="container">
    <div class="row">
      <span class="col-md-1">
        {{form.as_p}}
      </span>
    </div>
    <div class="row">
      <span class="col-md-1">
        <input type="submit" class="btn btn-primary btn-larger" value="Enviar" />
      </span>
    </div>
  </div>
  </form>
{%endblock%}
